.product-card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease-in-out;
}

.product-img-wrapper {
    width: 100%;
    height: 200px;
    position: relative;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.product-info {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.product-name {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.product-quantity {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

input.product-quantity {
    width: 75px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}